@{
    ViewData["Title"] = "GitHub Repositoryes searching";
}


   
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<link href="~/css/index.css" rel="stylesheet" />
<title>GitHub Repositoryes searching</title>
<body>
    <div ng-app="app" ng-controller="controller" ng-init="apiToSearch">
        Enter your search key word to found tne GitHub Repository: <input type="text" ng-model="inputApi" autofocus ng-keypress="enterPressed($event)" required />
        <button ng-click="buttonDisable || getAPI()" ng-disabled="buttonDisable" ng-model="tableDiv">Search</button>
        <div id="messageDiv"><p>{{message}}</p></div>

        <div ng-repeat="r in repositories" style="display:inline-block">
            <img src="{{r.owner.avatar_url}}" alt="avatar" />
            <p>{{r.name}}</p><button ng-click="AddToBookmarks(r.owner.html_url, r.id)">Add to bookmarks</button>
        </div>
    </div>

    <script>
        var app = angular.module("app", []);
        app.controller("controller", function ($scope, $http, $timeout, $window) {

            $scope.DeleteMessage = function myfunction() {
                $scope.message = "";
            }


            $scope.enterPressed = function (event) {
                if (event.keyCode == 13)
                    return $scope.getAPI();
            };
            $scope.getAPI = function () {
                $scope.message = "";
                if ($scope.inputApi == null || $scope.inputApi.length == 0) {
                    $scope.message = "Please, enter a data";
                    $timeout($scope.DeleteMessage, 1000);
                    return $scope.message;
                }

                var url = "https://api.github.com/search/repositories?q=" + $scope.inputApi;

                $http.get(url).success(function (data) {
                    $scope.repositories = data.items;
                    if ($scope.repositories === null || $scope.repositories.length == 0) {
                        $scope.message = "The data is not found";
                        $timeout($scope.DeleteMessage, 1000);
                    }
                });

            }


            $scope.AddToBookmarks = function (url, id) {
                $scope.message = "";
                $scope.bookmarks = [];
                $scope.bookmarks.push(url);
                $http.get("api/Bookmarks?url=" + url + "&id="+id).then(function (response) {//I added this function to allow bookmarks to be stored on the server too.
                    if (!response.data) {
                        $scope.message = "Oops, the repository is not added to your bookmarks. Please, try again";
                        $timeout($scope.DeleteMessage, 1000);
                        return $scope.message;
                    }
                    $window.sessionStorage.setItem(id, url); 
                    $scope.message = "Added succesfully!";
                    $timeout($scope.DeleteMessage, 1000);
                });
            }
        });

    </script>
</body>

